<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="bower_components/bootstrap/dist/css/bootstrap.css"></link>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/controllers/hello_world_controller.js"></script>


</head>

<body ng-app="HelloWorldApp">
	<div class="container" ng-controller="HelloWorldController">
		<h1>Angular</h1>
		<p>
			<input ng-model="name"></input>
		</p>
		<p>Hello, {{name}}</p>
		<p class="bg-primary">This text is important.</p>
		<p class="bg-success">This text indicates success.</p>
		<p class="bg-info">This text represents some information.</p>
		<p class="bg-warning">This text represents a warning.</p>
		<p class="bg-danger">This text represents danger.</p>
	</div>

</body>

</html>